/* body background */
body {
	background-color: #eeeeee;
}

/* Styles for the navigation bar at a min width of 992px */
@media (min-width: 992px) {
	/* Styles for the element with the ID "nav-bar-end" */
	#nav-bar-end {
		width: 250px;
	}
}

/* Styles for the navbar-brand class */
.navbar-brand {
	width: 250px;
}

/*
.login {
	min-width: 100%;
}

@media (min-width: 768px) {
	.login {
		min-width: 20%;
	}
} */
/*
.check-feedback {
	display: none;
	width: 100%;
	margin-top: .25rem;
	font-size: .875em;
	color: var(--bs-form-invalid-color);
} */