{% extends "layout.html" %} {% block title %} History {% endblock %} {% block main %}
<div class="flex-grow-1 container-fluid text-center">
	<div class="table-responsive" id="history">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th scope="col" class="fs-5">Invoice Number</th>
					<th scope="col" class="fs-5">Invoice Timestamp</th>
					<th scope="col" class="fs-5">Transaction type</th>
					<th scope="col" class="fs-5">Invoiced/Quoted to</th>
					<th scope="col" class="fs-5">Shipped to</th>
					<th scope="col" class="fs-5">Transportation Mode</th>
					<th scope="col" class="fs-5">Payment Mode</th>
					<th scope="col" class="fs-5">ETA</th>
					<th scope="col" class="fs-5">List of goods</th>
					<th scope="col" class="fs-5">Amount</th>
					<th scope="col" class="fs-5">PDF</th>
				</tr>
			</thead>
			<tbody>
				{% for history in history_list %}
				<tr>
					<th scope="row">{{ history.bill_num }}</th>
					<td>{{ history.bill_timestamp }}</td>
					<td>{{ history.type }}</td>
					<td class="text-start">{{ history.billed_to }}</td>
					<td class="text-start">{{ history.shipped_to }}</td>
					<td>{{ history.transport }}</td>
					<td>{{ history.payment }}</td>
					<td>{{ history.eta }}</td>
					<td class="p-0">
						<div class="accordion accordion-flush">
							<button
								class="accordion-button collapsed p-2"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#history{{ loop.index }}"
								aria-expanded="false"
								aria-controls="history{{ loop.index }}">
								Goods
							</button>
						</div>
					</td>
					<!-- {{ history.list_of_goods }} -->
					<td class="fw-semibold">{{ history.amount | inr }}</td>
					<td><a href="{{ url_for('download_pdf', pdf_id=history.id) }}">{{ history.bill_num }}.pdf</a></td>
				</tr>
				<tr>
					<td colspan="11" class="p-0">
						<div id="history{{ loop.index }}" class="accordion-collapse collapse">
							<div class="accordion-body">
								<table class="table table-bordered mb-0">
									<thead>
										<tr>
											<th scope="col">S.No</th>
											<th scope="col">Description of goods</th>
											<th scope="col">HSN/SAC</th>
											<th scope="col">Qty</th>
											<th scope="col">Unit of Measure</th>
											<th scope="col">Rate per unit</th>
											<th scope="col">GST used</th>
										</tr>
									</thead>
									<tbody>
										{% for item in history.list_of_goods %}
										<tr>
											<th scope="row">{{ loop.index }}</th>
											<td>{{ item.desc }}</td>
											<td>{{ item.hsn_sac }}</td>
											<td>{{ item.qty }}</td>
											<td>{{ item.uom }}</td>
											<td>{{ item.rate | inr }}</td>
											<td>{{ "%s%s" % (item.gst, "%") }}</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
