{% extends "layout.html" %} {% block title %} Invoice {% endblock %} {% block main %}
<div class="flex-grow-1 container-fluid">
	<!-- Invoice Form -->
	<form action="/invoice" method="post" class="text-center needs-validation" id="invoice-form" novalidate>
		<!-- Invoice Number and Date-->
		<div class="row fs-5 fw-semibold">
			<p class="col-md text-md-end m-0">Invoice number :</p>
			<p class="col-md text-md-start m-md-0">{{ invoice_num }}</p>
			<p class="col-md text-md-end m-0">Invoice date :</p>
			<p class="col-md text-md-start m-md-0">{{ invoice_date }}</p>
		</div>
		<!-- Client Details -->
		<div class="row mt-md-3">
			<hr class="mb-0"/>
			<label for="billed-company-name" class="col col-form-label fs-4 fw-bold py-0">Client Details</label>
			<hr class="mt-0" />
		</div>
		<!-- Billed To Info-->
		<div class="row gx-1">
			<label for="billed-company-name" class="col-md-12 col-form-label fs-5 fw-semibold fst-italic">Billing Name</label>
			<div class="row gx-1" id="billing-info">
				<!-- Billed To Name -->
				<label for="billed-company-name" class="col-md-1 col-form-label">Name</label>
				<div class="col-md-2">
					<input
						type="text"
						class="form-control"
						id="billed-company-name"
						name="billed_name"
						placeholder="Client Name" />
				</div>
				<!-- Billed To Mobile No. -->
				<label for="bphno1" class="col-md-1 col-form-label">Mobile No.</label>
				<div class="col-md-2">
					<input
						class="form-control"
						id="bphno1"
						name="bphno1"
						placeholder="Mobile number"
						type="tel"
						minlength="10"
						maxlength="10" />
					<div class="invalid-feedback">Please enter a valid mobile number.</div>
				</div>
				<!-- Billed To Alternate Number -->
				<label for="bphno2" class="col-md-1 col-form-label">Alt. Number</label>
				<div class="col-md-2">
					<input
						class="form-control"
						id="bphno2"
						name="bphno2"
						placeholder="Alternate Mobile number"
						type="tel"
						minlength="10"
						maxlength="10" />
					<div class="invalid-feedback">Please enter a valid mobile number.</div>
				</div>
				<!-- Billed To GSTIN -->
				<label for="bgstin" class="col-md-1 col-form-label">GSTIN</label>
				<div class="col-md-2">
					<input
						class="form-control"
						id="bgstin"
						name="bgstin"
						placeholder="GSTIN"
						type="text"
						minlength="15"
						maxlength="15" />
					<div class="invalid-feedback">Please enter a valid GSTIN.</div>
				</div>
			</div>
			<!-- Billed To Address -->
			<label class="col-md-12 col-form-label fs-5 fw-semibold fst-italic">Billing Address</label>
			<div class="row gx-1" id="billing-address">
				<div class="col-md">
					<input class="form-control" name="baddrBnm" placeholder="Bulding Name" type="text" />
				</div>
				<div class="col-md">
					<input class="form-control" name="baddrBno" placeholder="Bulding Number" type="text" />
				</div>
				<div class="col-md">
					<input class="form-control" name="baddrFlno" placeholder="Floor Number" type="text" />
				</div>
				<div class="col-md">
					<input class="form-control" name="baddrSt" placeholder="Street Name" type="text" />
				</div>
				<div class="col-md">
					<input class="form-control" name="baddrLoc" placeholder="Area/Town" type="text" />
				</div>
				<div class="col-md">
					<input class="form-control" name="baddrDist" placeholder="City/District" type="text" />
				</div>
				<div class="col-md">
					<input class="form-control" name="baddrState" placeholder="State" type="text" />
				</div>
				<div class="col-md">
					<input class="form-control" name="baddrPncd" placeholder="Pincode" type="text" minlength="6" maxlength="6" />
				</div>
			</div>
		</div>
		<!-- Shipped To Info-->
		<div class="row mt-3 gx-1">
			<label class="col-md-12 col-form-label fs-5 fw-semibold fst-italic">Shipping Name</label>
			<div class="row gx-1" id="shipping-info">
				<label for="shipped-company-name" class="col-md-1 col-form-label">Name</label>
				<div class="col-md-3">
					<input
						type="text"
						class="form-control"
						id="shipped-company-name"
						name="shipped_name"
						placeholder="Client Name" />
				</div>
				<label for="sphno1" class="col-md-1 col-form-label">Mobile No.</label>
				<div class="col-md-3">
					<input
						class="form-control"
						id="sphno1"
						name="sphno1"
						placeholder="Mobile number"
						type="tel"
						minlength="10"
						maxlength="10" />
				</div>
				<label for="sphno2" class="col-md-1 col-form-label">Alt. Number</label>
				<div class="col-md-3">
					<input
						class="form-control"
						id="sphno2"
						name="sphno2"
						placeholder="Alternate Mobile number"
						type="tel"
						minlength="10"
						maxlength="10" />
				</div>
			</div>
			<!-- Checkbox for Same as Billing info -->
			<div class="col-md-12">
				<div class="form-check">
					<input class="form-check-input float-none" type="checkbox" id="shipping-info-check" />
					<label class="form-check-label fw-medium" for="shipping-info-check">Same as billing info</label>
				</div>
			</div>
			<!-- Shipped To Address -->
			<label class="col-md-12 col-form-label fs-5 fw-semibold fst-italic">Shipping Address</label>
			<div class="row gx-1" id="shipping-address">
				<div class="col-md">
					<input class="form-control" name="saddrBnm" placeholder="Bulding Name" type="text" />
				</div>
				<div class="col-md">
					<input class="form-control" name="saddrBno" placeholder="Bulding Number" type="text" />
				</div>
				<div class="col-md">
					<input class="form-control" name="saddrFlno" placeholder="Floor Number" type="text" />
				</div>
				<div class="col-md">
					<input class="form-control" name="saddrSt" placeholder="Street Name" type="text" />
				</div>
				<div class="col-md">
					<input class="form-control" name="saddrLoc" placeholder="Area/Town" type="text" />
				</div>
				<div class="col-md">
					<input class="form-control" name="saddrDist" placeholder="City/District" type="text" />
				</div>
				<div class="col-md">
					<input class="form-control" name="saddrState" placeholder="State" type="text" />
				</div>
				<div class="col-md">
					<input class="form-control" name="saddrPncd" placeholder="Pincode" type="text" minlength="6" maxlength="6" />
				</div>
			</div>
			<!-- Checkbox for Same as Billing address -->
			<div class="col-md-12">
				<div class="form-check">
					<input class="form-check-input float-none" type="checkbox" id="shipping-address-check" />
					<label class="form-check-label fw-medium" for="shipping-address-check">Same as billing address</label>
				</div>
			</div>
		</div>
		<div class="row mt-3">
			<label for="transport-mode" class="col-md-2 col-form-label">Transportation Mode</label>
			<div class="col-md-2">
				<input
					type="text"
					class="form-control"
					id="transport-mode"
					name="transport-mode"
					placeholder="Transportation Mode" />
			</div>
			<label for="payment-mode" class="col-md-2 col-form-label">Payment Mode</label>
			<div class="col-md-2">
				<input type="text" class="form-control" id="payment-mode" name="payment-mode" placeholder="Payment Mode" />
			</div>
			<label for="eta" class="col-md-2 col-form-label">Estimated Time of Delievery</label>
			<div class="col-md-2">
				<input class="form-control" id="eta" name="eta" placeholder="ETA" type="date" />
			</div>
		</div>
		<!-- List of goods -->
		<hr class="mb-0" />
		<label class="col-md-12 col-form-label fs-4 fw-bold py-0">List of goods</label>
		<hr class="mt-0" />
		<div class="row mt-3" id="invoice-list-of-goods">
			<div class="d-none d-md-flex">
				<div class="col-md-1 fw-semibold">S.No</div>
				<div class="col-md fw-semibold">Description of goods</div>
				<div class="col-md-1 fw-semibold">HSN/SAC</div>
				<div class="col-md-1 fw-semibold">Qty</div>
				<div class="col-md-1 fw-semibold">UOM</div>
				<div class="col-md-1 fw-semibold">Rate</div>
				<div class="col-md-1 fw-semibold">Amount</div>
				<div class="col-md-1 fw-semibold">GST</div>
			</div>
		</div>
		<!-- Total Amount -->
		<div class="row mt-3">
			<label class="col-md-10 col-form-label text-end fs-5 fw-semibold fst-italic">Total Amount</label>
			<div class="col-md-2">
				<div class="input-group">
					<span class="input-group-text">₹</span>
					<input
						class="form-control"
						name="total-amount"
						id="total-amount"
						placeholder="Total Amount"
						type="text"
						readonly />
				</div>
			</div>
		</div>
		<!-- Buttons for adding and removing rows -->
		<div class="row mt-3 g-2">
			<div class="col-md">
				<button class="btn btn-outline-dark btn-sm w-100" id="invoice-add-row" type="button">+</button>
			</div>
			<div class="col-md">
				<button class="btn btn-outline-dark btn-sm w-100" id="invoice-remove-row" type="button">-</button>
			</div>
		</div>
		<!-- Submit -->
		<div class="row mt-3">
			<div class="col-md">
				<button class="btn btn-dark btn-sm w-100" type="submit">Generate Invoice</button>
			</div>
		</div>
	</form>
</div>
<script src="/static/invoice.js"></script>
{% endblock %}
