<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1, width=device-width" />
		<meta name="title" property="og:title" content="CircusLedger" />
		<meta name="type" property="og:type" content="website" />
		<meta name="description" property="og:description" content="A Simple Billing app from DataCircus" />
		<meta name="application-name" content="CircusLedger" />
		<meta name="image" property="og:image" content="/static/dc_logo_cl_text_minprecise.svg" />
		<meta name="image-alt" property="og:image:alt" content="CircusLedger" />
		<meta name="twitter:card" content="summary_large_image" />

		<!-- http://getbootstrap.com/docs/5.3.1/ -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
			crossorigin="anonymous" />

		<!-- https://favicon.io/emoji-favicons/money-bag/ -->
		<link href="/static/dc_logo_minprecise.svg" rel="icon" />

		<link href="/static/styles.css" rel="stylesheet" />

		<title>CircusLedger: {% block title %}{% endblock %}</title>
	</head>

	<body>
		<nav class="navbar navbar-expand-lg border">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">
					<img src="/static/dc_logo_cl_text_minprecise.svg" width="250px" alt="CircusLedger" />
				</a>
				<button
					aria-controls="navbarNavAltMarkup"
					aria-expanded="false"
					aria-label="Toggle navigation"
					class="navbar-toggler"
					data-bs-target="#navbarNavAltMarkup"
					data-bs-toggle="collapse"
					type="button">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					{% if session["user_id"] %}
					<div class="navbar-nav m-auto mt-2">
						<a class="nav-link" href="/quote">Quote</a>
						<a class="nav-link" href="/invoice">Invoice</a>
						<a class="nav-link" href="/inventory">Inventory</a>
						<a class="nav-link" href="/history">History</a>
					</div>
					<div class="navbar-nav ms-auto mt-2">
						<a class="nav-link" href="/settings">Settings</a>
						<a class="nav-link" href="/logout">Log Out</a>
					</div>
					{% else %}
					<div class="navbar-nav ms-auto mt-2">
						<a class="nav-link" href="/register">Register</a>
						<a class="nav-link" href="/login">Log In</a>
					</div>
					{% endif %}
				</div>
			</div>
		</nav>

		{% if get_flashed_messages() %}
		<header>
			<div class="alert alert-primary mb-0 text-center" role="alert">{{ get_flashed_messages() | join(" ") }}</div>
		</header>
		{% endif %}

		<main class="container-fluid d-flex justify-content-center py-5">{% block main %}{% endblock %}</main>

		<footer class="mb-5 small text-center text-body-secondary"><a href="/">CircusLedger</a> by Data Circus</footer>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
			crossorigin="anonymous"></script>
		<script src="layout.js"></script>
	</body>
</html>
