{% extends "layout.html" %} {% block title %} Quote {% endblock %} {% block main %}
<!-- Quote Form -->
<form action="/result" method="post" class="text-center" id="quote-form">
	<!-- Quote Number -->
	<div class="row">
		<div class="col-md-2">Quotation number</div>
		<div class="col-md">{{ quote_num }}</div>
	</div>
	<!-- Quote Date -->
	<div class="row mt-3">
		<div class="col-md-2">Quotation date</div>
		<div class="col-md">{{ quote_date }}</div>
	</div>
	<!-- Quoted To -->
	<div class="row mt-3">
		<label for="quoted-company-name" class="col-md-2 col-form-label">Quoted to</label>
		<div class="col-md-2">
			<input type="text" class="form-control" id="quoted-company-name" name="quoted_to" placeholder="Client Name" />
		</div>
		<label for="phno" class="col-md-2 col-form-label">Mobile No.</label>
		<div class="col-md-2">
			<input class="form-control" id="phno" name="phno" placeholder="Mobile number" type="text" />
		</div>
		<label for="eta" class="col-md-2 col-form-label">Estimated Time of Delievery</label>
		<div class="col-md-2">
			<input class="form-control" id="eta" name="eta" placeholder="ETA" type="text" />
		</div>
	</div>
	<!-- List of goods -->
	<div class="row mt-3" id="quote-list-of-goods">
		<label class="col-md-12 col-form-label">List of goods</label>
		<div class="d-none d-md-flex">
			<div class="col-md-1">S.No</div>
			<div class="col-md">Description of goods</div>
			<div class="col-md-1">HSN/SAC</div>
			<div class="col-md-1">Qty</div>
			<div class="col-md-1">UOM</div>
			<div class="col-md-1">Rate</div>
			<div class="col-md-1">Amount</div>
			<div class="col-md-1">GST</div>
		</div>
	</div>
	<!-- Total Amount -->
	<div class="row mt-3">
		<label class="col-md-10 col-form-label text-end">Total Amount</label>
		<div class="col-md-2">
			<input class="form-control" name="total-amount" id="total-amount" placeholder="Total Amount" type="text" />
		</div>
	</div>
	<!-- Buttons for adding and removing rows -->
	<div class="row mt-3 g-2">
		<div class="col-md">
			<button class="btn btn-outline-dark btn-sm w-100" id="quote-add-row" type="button">+</button>
		</div>
		<div class="col-md">
			<button class="btn btn-outline-dark btn-sm w-100" id="quote-remove-row" type="button">-</button>
		</div>
	</div>
	<!-- Submit -->
	<div class="row mt-3">
		<div class="col-md">
			<button class="btn btn-dark btn-sm w-100" type="submit">Generate Quotation</button>
		</div>
	</div>
</form>
<script src="/static/quote.js"></script>
{% endblock %}
