<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
	/* @page {
		size: a4 portrait;
		margin: 0mm 0mm 0mm 0mm;
	} */
	@page {
		/* A4(210mm 297mm) * 1.5  */
		/* size: 315mm 445.5mm; */
		/* size: 367.5mm 519.75mm; */
		margin: 0mm 0mm 0mm 0mm;
	}
	table {
				/* max-width: 210mm;
				width: 100%; */
				/* table-layout: fixed; */
				/* font-family: "Times New Roman"; */
			}

			td {
				width: calc(100% / 16);
				word-wrap: break-word;
			}
	.ritz .waffle a {
		color: inherit;
	}
	.ritz .waffle .s1 {
		border-bottom: 1px SOLID #000000;
		border-right: 1px SOLID #000000;
		background-color: #ffffff;
		text-align: left;
		color: #000000;
		font-family: "Times New Roman";
		font-size: 12pt;
		vertical-align: top;
		white-space: nowrap;
		direction: ltr;
		padding: 0px 3px 0px 3px;
	}
	.ritz .waffle .s14 {
		border-bottom: 1px SOLID #000000;
		border-right: 1px SOLID #000000;
		background-color: #dadada;
		text-align: center;
		font-weight: bold;
		color: #000000;
		font-family: "Times New Roman";
		font-size: 12pt;
		vertical-align: top;
		white-space: normal;
		overflow: hidden;
		word-wrap: break-word;
		direction: ltr;
		padding: 0px 3px 0px 3px;
	}
	.ritz .waffle .s9 {
		border-bottom: 1px SOLID #000000;
		border-right: 1px SOLID #000000;
		background-color: #ffffff;
		text-align: left;
		font-weight: bold;
		color: #000000;
		font-family: "Times New Roman";
		font-size: 10pt;
		vertical-align: bottom;
		white-space: nowrap;
		direction: ltr;
		padding: 0px 3px 0px 3px;
	}
	.ritz .waffle .s11 {
		border-bottom: 1px SOLID #000000;
		border-right: 1px SOLID #000000;
		background-color: #ffffff;
		text-align: left;
		font-weight: bold;
		color: #000000;
		font-family: "Times New Roman";
		font-size: 12pt;
		vertical-align: top;
		white-space: nowrap;
		direction: ltr;
		padding: 0px 3px 0px 3px;
	}
	.ritz .waffle .s12 {
		border-bottom: 1px SOLID #000000;
		border-right: 1px SOLID #000000;
		background-color: #dadada;
		text-align: right;
		font-weight: bold;
		color: #000000;
		font-family: "Times New Roman";
		font-size: 12pt;
		vertical-align: top;
		white-space: nowrap;
		direction: ltr;
		padding: 0px 3px 0px 3px;
	}
	.ritz .waffle .s8 {
		border-bottom: 1px SOLID #000000;
		border-right: 1px SOLID #000000;
		background-color: #ffffff;
		text-align: center;
		font-weight: bold;
		color: #000000;
		font-family: "Times New Roman";
		font-size: 10pt;
		vertical-align: bottom;
		white-space: nowrap;
		direction: ltr;
		padding: 0px 3px 0px 3px;
	}
	.ritz .waffle .s0 {
		border-bottom: 1px SOLID #000000;
		border-right: 1px SOLID #000000;
		background-color: #ffffff;
		text-align: center;
		font-weight: bold;
		color: #000000;
		font-family: "Times New Roman";
		font-size: 12pt;
		vertical-align: top;
		white-space: nowrap;
		direction: ltr;
		padding: 0px 3px 0px 3px;
	}
	.ritz .waffle .m0 {
		border-top: 1px SOLID #000000;
		border-left: 1px SOLID #000000;
	}
	.ritz .waffle .m1 {
		border-left: 1px SOLID #000000;
	}
	.ritz .waffle .s10 {
		border-bottom: 1px SOLID #000000;
		border-right: 1px SOLID #000000;
		background-color: #ffffff;
		text-align: right;
		font-weight: bold;
		color: #000000;
		font-family: "Times New Roman";
		font-size: 12pt;
		vertical-align: top;
		white-space: nowrap;
		direction: ltr;
		padding: 0px 3px 0px 3px;
	}
	.ritz .waffle .s4 {
		border-bottom: 1px SOLID #000000;
		border-right: 1px SOLID #000000;
		background-color: #ffffff;
		text-align: right;
		color: #000000;
		font-family: "Times New Roman";
		font-size: 12pt;
		vertical-align: top;
		white-space: nowrap;
		direction: ltr;
		padding: 0px 3px 0px 3px;
	}
	.ritz .waffle .s3 {
		border-right: 1px SOLID #000000;
		background-color: #ffffff;
		text-align: right;
		color: #000000;
		font-family: "Times New Roman";
		font-size: 12pt;
		vertical-align: top;
		white-space: nowrap;
		direction: ltr;
		padding: 0px 3px 0px 3px;
	}
	.ritz .waffle .s7 {
		border-bottom: 1px SOLID #000000;
		background-color: #ffffff;
		text-align: center;
		color: #000000;
		font-family: "Times New Roman";
		font-size: 12pt;
		vertical-align: top;
		white-space: nowrap;
		direction: ltr;
		padding: 0px 3px 0px 3px;
	}
	.ritz .waffle .s6 {
		border-bottom: 1px SOLID #000000;
		border-right: 1px SOLID #000000;
		background-color: #dadada;
		text-align: center;
		font-weight: bold;
		color: #000000;
		font-family: "Times New Roman";
		font-size: 12pt;
		vertical-align: top;
		white-space: nowrap;
		direction: ltr;
		padding: 0px 3px 0px 3px;
	}
	.ritz .waffle .s13 {
		border-bottom: 1px SOLID #000000;
		border-right: 1px SOLID #000000;
		background-color: #ffffff;
		text-align: left;
		color: #000000;
		font-family: "Times New Roman";
		font-size: 12pt;
		vertical-align: top;
		white-space: normal;
		overflow: hidden;
		word-wrap: break-word;
		direction: ltr;
		padding: 0px 3px 0px 3px;
	}
	.ritz .waffle .s2 {
		border-right: 1px SOLID #000000;
		background-color: #ffffff;
		text-align: right;
		font-weight: bold;
		color: #000000;
		font-family: "Times New Roman";
		font-size: 16pt;
		vertical-align: top;
		white-space: nowrap;
		direction: ltr;
		padding: 0px 3px 0px 3px;
	}
	.ritz .waffle .s5 {
		border-bottom: 1px SOLID #000000;
		border-right: 1px SOLID #000000;
		background-color: #ffffff;
		text-align: center;
		color: #000000;
		font-family: "Times New Roman";
		font-size: 12pt;
		vertical-align: top;
		white-space: nowrap;
		direction: ltr;
		padding: 0px 3px 0px 3px;
	}
	.ritz .waffle .s15 {
		border-bottom: 1px SOLID #000000;
		border-right: 1px SOLID #000000;
		background-color: #ffffff;
		text-align: center;
		color: #000000;
		font-family: "Times New Roman";
		font-size: 12pt;
		vertical-align: top;
		white-space: normal;
		overflow: hidden;
		word-wrap: break-word;
		direction: ltr;
		padding: 0px 3px 0px 3px;
	}
</style>
<div class="ritz grid-container" dir="ltr">
	<table class="waffle" cellspacing="0" cellpadding="0">
		<tbody>
			<tr style="height: 19px">
				<td class="s0 m0" colspan="16">TAX INVOICE</td>
			</tr>
			<tr style="height: 19px">
				<td class="s1 m1" colspan="6" rowspan="5">{{ company.logo }}</td>
				<td class="s2" colspan="10">{{ company.name }}</td>
			</tr>
			<tr style="height: 19px">
				<td class="s3" colspan="10">{{ company.addr }}</td>
			</tr>
			<tr style="height: 19px">
				<td class="s3" colspan="10">Phone No.: {{ company.phno }}</td>
			</tr>
			<tr style="height: 19px">
				<td class="s3" colspan="10">Email: {{ company.email }}</td>
			</tr>
			<tr style="height: 19px">
				<td class="s4" colspan="10">Website: {{ company.website }}</td>
			</tr>
			<tr style="height: 19px">
				<td class="s0 m1" colspan="3">Invoice No.:</td>
				<td class="s5" colspan="5">{{ inv.number }}</td>
				<td class="s0" colspan="3">Transportation Mode:</td>
				<td class="s5" colspan="5">{{ inv.transmode }}</td>
			</tr>
			<tr style="height: 19px">
				<td class="s0 m1" colspan="3">Invoice Date:</td>
				<td class="s5" colspan="5">{{ inv.date }}</td>
				<td class="s0" colspan="3">Payment Mode:</td>
				<td class="s5" colspan="5">{{ inv.paymode }}</td>
			</tr>
			<tr style="height: 19px">
				<td class="s0 m1" colspan="3">GSTIN:</td>
				<td class="s5" colspan="5">{{ company.gstin }}</td>
				<td class="s0" colspan="3">ETA:</td>
				<td class="s5" colspan="5">{{ inv.eta }}</td>
			</tr>
			<tr style="height: 19px">
				<td class="s6 m1" colspan="8">Details of Receiver (Invoiced to)</td>
				<td class="s6" colspan="8">Details of Consignee (Shipped To)</td>
			</tr>
			<tr style="height: 19px">
				<td class="s0 m1" colspan="2">Name:</td>
				<td class="s5" colspan="6">{{ inv.invname }}</td>
				<td class="s0" colspan="2">Name:</td>
				<td class="s5" colspan="6">{{ inv.shipname }}</td>
			</tr>
			<tr style="height: 19px">
				<td class="s0 m1" colspan="2">Address:</td>
				<td class="s5" colspan="6">{{ inv.invaddr }}</td>
				<td class="s0" colspan="2">Address:</td>
				<td class="s5" colspan="6">{{ inv.shipaddr }}</td>
			</tr>
			<tr style="height: 19px">
				<td class="s0 m1" colspan="2">GSTIN:</td>
				<td class="s5" colspan="6">{{ inv.invgstin }}</td>
				<td class="s0" colspan="2">GSTIN:</td>
				<td class="s5" colspan="6">{{ inv.shipgstin }}</td>
			</tr>
			<tr style="height: 19px">
				<td class="s0 m1" colspan="2">Mobile No.:</td>
				<td class="s5" colspan="6">{{ inv.invphno }}</td>
				<td class="s0" colspan="2">Mobile No.:</td>
				<td class="s5" colspan="6">{{ inv.shipphno }}</td>
			</tr>
			<tr style="height: 19px">
				<td class="s7" colspan="16"></td>
			</tr>
			<tr style="height: 19px">
				<td class="s8 m1" rowspan="2">S.No</td>
				<td class="s8" colspan="2" rowspan="2">Description of Goods</td>
				<td class="s8" rowspan="2">HSN/SAC</td>
				<td class="s8" rowspan="2">Qty</td>
				<td class="s8" rowspan="2">UOM</td>
				<td class="s8" rowspan="2">Rate</td>
				<td class="s8" rowspan="2">Total</td>
				<td class="s8" rowspan="2">Discount</td>
				<td class="s8" rowspan="2">Taxable value</td>
				<td class="s8" colspan="2">CGST</td>
				<td class="s8" colspan="2">SGST</td>
				<td class="s8" colspan="2">IGST</td>
			</tr>
			<tr style="height: 19px">
				<td class="s9">%</td>
				<td class="s9">Amount</td>
				<td class="s9">%</td>
				<td class="s9">Amount</td>
				<td class="s9">%</td>
				<td class="s9">Amount</td>
			</tr>
			<!-- {% for item in invitems %}
			<tr style="height: 19px">
				<td class="s9 m1">{{ item.sno }}</td>
				<td class="s9" colspan="2">{{ item.description }}</td>
				<td class="s9">{{ item.hsn }}</td>
				<td class="s9">{{ item.qty }}</td>
				<td class="s9">{{ item.uom }}</td>
				<td class="s9">{{ item.rate }}</td>
				<td class="s9">{{ item.total }}</td>
				<td class="s9">{{ item.discount }}</td>
				<td class="s9">{{ item.taxable }}</td>
				<td class="s9">{{ item.cgstrate }}</td>
				<td class="s9">{{ item.cgstamount }}</td>
				<td class="s9">{{ item.sgstrate }}</td>
				<td class="s9">{{ item.sgstamount }}</td>
				<td class="s9">{{ item.igstrate }}</td>
				<td class="s9">{{ item.igstamount }}</td>
			</tr>
			{% endfor %} -->
			<tr style="height: 19px">
				<td class="s10 m1" colspan="4">Total :</td>
				<td class="s11">{{totalqty}}</td>
				<td class="s11"></td>
				<td class="s11">{{totalrate}}</td>
				<td class="s11">{{totalwogst}}</td>
				<td class="s11">{{totaldiscount}}</td>
				<td class="s11">{{totaltaxable}}</td>
				<td class="s11"></td>
				<td class="s11">{{totalcgst}}</td>
				<td class="s11"></td>
				<td class="s11">{{totalsgst}}</td>
				<td class="s11"></td>
				<td class="s11">{{totaligst}}</td>
			</tr>
			<tr style="height: 19px">
				<td class="s7" colspan="16"></td>
			</tr>
			<tr style="height: 19px">
				<td class="s6 m1" colspan="8">Total Invoice amount in words</td>
				<td class="s12" colspan="4">Total Amount</td>
				<td class="s12" colspan="4">{{ amount.total }}</td>
			</tr>
			<tr style="height: 20px">
				<td class="s5 m1" colspan="8">{{ amount.words }}</td>
				<td class="s12" colspan="4">Round Off</td>
				<td class="s12" colspan="4">{{ amount.roundoff }}</td>
			</tr>
			<tr style="height: 20px">
				<td class="s6 m1" colspan="8">Bank Details</td>
				<td class="s12" colspan="4">Grand Total</td>
				<td class="s12" colspan="4">{{ amount.gtotal }}</td>
			</tr>
			<tr style="height: 20px">
				<td class="s6 m1" colspan="3">Account Name:</td>
				<td class="s1" colspan="5">{{ company.bnkAcnm }}</td>
				<td class="s6" colspan="8">TERMS &amp; CONDITIONS</td>
			</tr>
			<tr style="height: 20px">
				<td class="s6 m1" colspan="3">Bank A/C No.:</td>
				<td class="s1" colspan="5">{{ company.bnkAcno }}</td>
				<td class="s13" colspan="8" rowspan="3">
					Goods Once Sold, Cannot be Taken back or Exchanged. For Any manufacturing defects can be entertain only when
					intimiated within 1 days of Invoice.
				</td>
			</tr>
			<tr style="height: 20px">
				<td class="s6 m1" colspan="3">Bank Name:</td>
				<td class="s1" colspan="5">{{ company.bnkNm }}</td>
			</tr>
			<tr style="height: 20px">
				<td class="s6 m1" colspan="3">Bank IFSC:</td>
				<td class="s1" colspan="5">{{ company.bnkIfsc }}</td>
			</tr>
			<tr style="height: 20px">
				<td class="s6 m1" colspan="6">Received the Goods/Services in Good Condition</td>
				<td class="s14" colspan="4" rowspan="2">Ceritified that the particulars given above are true and correct</td>
				<td class="s6" colspan="6">Issued by</td>
			</tr>
			<tr style="height: 20px">
				<td class="s5 m1" colspan="6" rowspan="3"></td>
				<td class="s15" colspan="6" rowspan="3"></td>
			</tr>
			<tr style="height: 20px">
				<td class="s6" colspan="4">Invoice Generated by</td>
			</tr>
			<tr style="height: 20px">
				<td class="s5" colspan="2">Name:</td>
				<td class="s1" colspan="2"></td>
			</tr>
			<tr style="height: 20px">
				<td class="s5 m1" colspan="6">Customer Signature</td>
				<td class="s5" colspan="2">Designation:</td>
				<td class="s1" colspan="2"></td>
				<td class="s5" colspan="6">Signature</td>
			</tr>
		</tbody>
	</table>
</div>
